<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="demo">
    姓：<input type="text" v-model="first">
    名：<input type="text" v-model="last">
    姓名1（单向）：<input type="text" v-model="full1">
    姓名2（单向）：<input type="text" v-model="full2">
    姓名3（双向）：<input type="text" v-model="full3">
  </div>
  <script src="JS/vue.js"></script>
  <script>
    new Vue({
      el: '#demo',
      data: {
        first: 'a',
        last: 'b',
        full2: ''
      },
      computed: {
        full1() {
          return this.first + ' ' + this.last
        },
        full3: {
          get() {
            return this.first + ' ' + this.last
          },
          set(value) {
            const names = value.split(' ')
            this.first = names[0]
            this.last = names[1]
          }
        }
      },
      watch: {
        first: function (val) {
          this.full2 = val + ' ' + this.last
        },
        last: function (val) {
          this.full2 = this.first + ' ' + val
        }
      },
    })
  </script>
</body>

</html>